@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #05a3dd;
  --background: #0f0d29;
  --header: #15162f;
  --text: #fff;
}

body {
  background: #0f0d29;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  height: 90px;
  color: #000;
  padding-left: 40px;
  padding-right: 40px;
  position: sticky;
  top: 0;
  z-index: 3;
  inset: 1000;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 15px;
  text-transform: capitalize;
}

.nav-links li {
  padding: 1rem;
  flex: 1;
}

.nav-links a {
  color: var(--text);
}

.logo {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.bars i {
  color: var(--text);
}

.bars {
  position: relative;
  display: none;
}

/* Mobile navigation */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  z-index: 9;
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 36px;
  color: var(--primary-color);
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: var(--header);
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
}

.intro {
  padding: 40px;
}
pre {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: 70px;
  text-transform: uppercase;
}

span {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  text-shadow: -2px 2px 0 var(--background), -4px 4px 0 var(--background),
    -6px 6px var(--primary-color), -8px 8px var(--background);
}

.intro h4 {
  color: #000;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  margin-top: -20px;
  margin-left: 60px;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  text-align: center;
  justify-content: space-around;
}

.day,
.minute,
.hour,
.second {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  color: var(--primary-color);
}

h4 {
  color: #ddd;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-2 {
  flex-basis: 50%;
}

.col-2 img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.auction {
  margin-top: 130px;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 7px;
  font-family: "Bebas Neue", sans-serif;
}

h1 span {
  color: var(--primary-color);
}

.nft-card {
  width: 400px;
  height: 560px;
  padding: 20px;
  background-color: #000;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-info h6{
    color: var(--text);
}

.user-info img {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.nft-con{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nft-img{
    border-radius: 15px;
    height: 350px;
}

.author{
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid gray;
}

.author h2{
    color: var(--text);
    text-transform: uppercase;
}

.sale-img{
    width: 10px;
    margin-left: 20px;
}

.sale-img{
    margin-top: 10px;
    width: 30px;
    height: 40px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sale-img h6{
    font-size: 14px;
    white-space: nowrap;
    color: gray;
}

.sale-img h2{
    font-size: 14px;
    margin-left: 20px;
}

.sale-img img{
width: 100%;
border-radius: 50%;
}

.sale{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

.btn{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 15px;
    background-color: var(--primary-color);
    color: var(--text);
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

/*  */
.wrapper {
  /* max-width: 1200px; */
  cursor: pointer;
  position: relative;
  padding: 20px;
}

 .carousel {
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top{
  padding: 40px;
}

.join{
  padding: 40px 20px;
  text-align: center;
  color: #fff;
}

.footer {
  background: var(--primary-color);
  color: var(--text);
  font-size: 14px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  list-style: none;
  padding-bottom: 10px;
}

.footer ul li {
  padding: 5px;
  list-style: none;
}

.footer a{
  color: var(--text);
  transition: 0.3s linear;
}

.footer a:hover{
  color: var(--background);
}

.footer p {
  color: #d3d0d0;
  line-height: 24px;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-3,
.footer-col-4 {
  min-width: 300px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 25%;
}

.footer-col-2 {
  flex: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-col-2 img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 10%;
  text-align: center;
}

.footer hr {
  border: none;
  background-color: #b5b5b5;
  margin: 20px 0;
  height: 1px;
}